<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum illo qui vel placeat quidem, accusantium sed eveniet. Reiciendis explicabo incidunt, porro voluptatum blanditiis delectus accusamus soluta, similique tempore impedit dolorum!</p>
</body>
</html>